*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

.l-main-nav {
  position: absolute;
  top: 21px;
  inline-size: 100%;
}
.l-main-nav__container {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 34px;
}
.l-main-nav__content-right {
  margin-inline-end: 65px;
}
.l-main-nav__container-toggle-button {
  display: flex;
  justify-content: flex-end;
}
.l-main-nav__cta:last-child {
  margin-inline-start: 26px;
}
.l-main-nav__cta-link {
  text-decoration: none;
  color: #ffffff;
}
.l-main-nav__container-list {
  inline-size: 591px;
  margin-block-start: 25px;
  display: flex;
}
.l-main-nav__list {
  inline-size: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.l-main-nav__link {
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: 300;
}
.l-main-nav__ul-rubrique {
  position: absolute;
  margin-block-start: 10px;
  list-style-type: none;
  block-size: 220px;
  inline-size: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #000000;
  padding-block: 10px;
}
.l-main-nav__rubriques-link {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 300;
  margin-inline-start: 10px;
}

/* Footer */
.l-main-footer {
  inline-size: 100%;
  block-size: 336px;
  background-color: #102940;
}
.l-main-footer__container {
  display: flex;
}
.l-main-footer__list {
  list-style-type: none;
  color: #ffffff;
}
.l-main-footer__content-left {
  inline-size: 504px;
  block-size: 100%;
  display: flex;
}
.l-main-footer__container-mention-legales {
  inline-size: 277px;
  margin-block-start: 61px;
  display: flex;
  block-size: 129px;
}
.l-main-footer__container-plan-site {
  inline-size: 229px;
  margin-block-start: 61px;
  block-size: 205px;
  display: flex;
}
.l-main-footer__content-center {
  inline-size: 302px;
  block-size: 100%;
  margin-block-start: 61px;
}
.l-main-footer__card iframe {
  inline-size: 302px;
  block-size: 169px;
  background-color: #ffffff;
  margin-block-start: 21px;
}
.l-main-footer__content-right {
  margin-block-start: 61px;
  inline-size: 540px;
  block-size: 100%;
  display: flex;
}
.l-main-footer__container-divers-social {
  inline-size: 298px;
  block-size: 134px;
  margin-inline-start: 142px;
  display: flex;
}
.l-main-footer__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.l-main-footer__link {
  font-family: "Roboto";
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: 100;
  justify-content: space-between;
}
.l-main-footer__container-social-media {
  inline-size: 145px;
  block-size: 188PX;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.l-main-footer__svg-social {
  object-fit: contain;
}

.u-container {
  max-inline-size: 1253px;
  margin-inline: auto;
  text-align: start;
}

.u-basic-text {
  font-family: "Roboto";
}

.u-section-h2 {
  font-size: 3rem;
  font-family: "Homeday";
  color: #D9ADD6;
}

.u-section-h3 {
  font-size: 2rem;
  color: #494C4F;
  font-weight: normal;
}

.u-section-h2-click-collect {
  font-size: 5.4375rem;
  font-family: "Homeday";
  color: #D9ADD6;
}

.c-pink-button {
  font-family: "Roboto";
  font-size: 0.875rem;
  color: #ffffff;
  background-color: #D9ADD6;
  padding-inline: 21px;
  padding-block-start: 11px;
  padding-block-end: 12px;
  inline-size: 132px;
  block-size: 39px;
  line-height: 133.33%;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.c-button-secondaire {
  font-family: "Roboto";
  font-size: 1.25rem;
  font-weight: 300;
  color: #ffffff;
  background-color: #494C4F;
  padding-block-start: 11px;
  padding-block-end: 12px;
  inline-size: 126px;
  block-size: 46px;
  line-height: 133.33%;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.c-button-cta-start {
  font-family: "Roboto";
  font-size: 2.375rem;
  font-weight: 400;
  color: #ffffff;
  background-color: #D9ADD6;
  padding-block-start: 11px;
  padding-block-end: 12px;
  inline-size: 456px;
  block-size: 89px;
  line-height: 133.33%;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

main {
  inline-size: 100%;
  block-size: 1414px;
}

.command-header {
  inline-size: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.command-header__container {
  display: flex;
  block-size: 367px;
  inline-size: 100%;
  margin-block-start: 116px;
}
.command-header__content-nos-burgers {
  block-size: 367px;
  inline-size: 637px;
}
.command-header__title-nos-burgers {
  margin-block-start: 102px;
  font-family: "Roboto";
  font-size: 2.375rem;
  color: #102940;
  font-weight: 700;
}
.command-header__paragraph-nos-burgers {
  font-family: "Roboto";
  font-size: 1.8125rem;
  color: #5F6368;
  font-weight: normal;
  margin-block-start: 26px;
  inline-size: 464px;
}
.command-header__content-slide-progression {
  display: flex;
  flex-direction: column;
  margin-block-start: 102px;
}
.command-header__content-head-slide {
  display: flex;
}
.command-header__content-head-slide {
  display: flex;
  align-items: center;
  margin-inline-start: 261px;
}
.command-header__border-title {
  inline-size: 26px;
  block-size: 4px;
  margin-block-start: 20px;
  background-color: #494C4F;
}
.command-header__head-title {
  font-family: "Homeday";
  color: #D9ADD6;
  font-size: 3.1875rem;
  padding-inline: 13px;
}
.command-header__sub-title {
  font-family: "Roboto";
  font-size: 2rem;
  color: #494C4F;
  margin-inline-start: 269px;
}
.command-header__content-slide-to-cash {
  align-self: self-end;
  block-size: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.command-header__block-img {
  inline-size: 80px;
  block-size: 80px;
  background-color: rgba(87, 109, 139, 0.49);
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.command-header__content-img {
  inline-size: 62px;
  block-size: 60px;
  border-radius: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #D9D9D9;
}
.command-header__block-img--active {
  position: relative;
  top: 10px;
  inline-size: 94px;
  block-size: 94px;
  background-color: rgba(87, 109, 139, 0.49);
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.command-header__content-img--active {
  inline-size: 70.5px;
  block-size: 70.5px;
  border-radius: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #D9D9D9;
}
.command-header__bg-line {
  inline-size: 14px;
  block-size: 6px;
  background-color: rgba(87, 109, 139, 0.49);
  margin-block-end: 30px;
}
.command-header__bg-line-last {
  inline-size: 69px;
  block-size: 6px;
  background-color: rgba(87, 109, 139, 0.49);
  margin-block-end: 30px;
}
.command-header__cb-card {
  margin-inline-start: 12px;
}
.command-header__text-cash {
  font-family: "Roboto";
  color: #5F6368;
  font-size: 1.5rem;
  margin-block-end: 15px;
  margin-inline-start: 28px;
}

/* Section List commande*/
.list-command {
  display: flex;
}
.list-command__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list-command__content-article {
  display: flex;
  flex-direction: column;
  inline-size: 600px;
}
.list-command__container-article {
  display: flex;
  align-items: center;
}
.list-command__dashed {
  padding-block: 34px;
  inline-size: 617px;
}
.list-command__content-img-article {
  margin-block-start: 14px;
  margin-inline-start: 41px;
  inline-size: 205.64px;
  block-size: 194px;
}
.list-command__img-article {
  inline-size: 205.64px;
  block-size: 194px;
  border-radius: 14px;
  object-fit: cover;
}
.list-command__content-label {
  inline-size: 492.36px;
  text-align: start;
  margin-inline-start: 76.36px;
}
.list-command__label {
  font-family: "Roboto";
  font-size: 2.375rem;
}

/* Section Cta suivant */
.cta-suivant-section {
  inline-size: 100%;
  block-size: 239px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Button radio*/
.style-radio {
  position: relative;
}

.radio {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  inline-size: 100%;
  block-size: 100%;
  z-index: 2;
}

.look-radio {
  inline-size: 56px;
  block-size: 56px;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  border: 4px solid #576D8B;
  border-radius: 50%;
  position: relative;
}
.look-radio:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
}

.radio:checked + .look-radio:after {
  background: #576D8B;
  inline-size: 28px;
  block-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=nos-boissons.css.map */
